__pycache__/

.venv/

build/
dist/
*.egg-info/
*.egg

.ipynb_checkpoints/
*.ipynb_convert

.vscode/
.idea/
*.swp
*~
*.code-workspace

.DS_Store
Thumbs.db

logs/
*.log
tmp/
temp/

.env
.env.*
!*.env.example  # но пример остаётся в репо

data/
datasets/
models/
checkpoints/
runs/
wandb/
mlruns/
output/